{% extends "common/base.html" %}

{% block title %}
    <title>Games Box</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="games-box-header-row" class="row">
            <div class="col text-center">
                <h1>Games Box</h1>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{{ url_for('scorekeeper.index') }}"><img src="{{ url_for('static', filename='common/scorekeeper.png') }}" width="300" height="300"></a>
                <a href="{{ url_for('scorekeeper.index') }}"><h3>Score Keeper</h3></a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('scrambled_words.index') }}"><img src="{{ url_for('static', filename='common/scrambled_words.png') }}" width="300" height="300"></a>
                <a href="{{ url_for('scrambled_words.index') }}"><h3>Scrambled Words</h3></a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('hidden_names.index') }}"><img src="{{ url_for('static', filename='common/hidden_names.png') }}" width="300" height="300"></a>
                <a href="{{ url_for('hidden_names.index') }}"><h3>Hidden Names</h3></a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('crossword_creator.index') }}"><img src="{{ url_for('static', filename='common/crossword_creator.png') }}" width="300" height="300"></a>
                <a href="{{ url_for('crossword_creator.index') }}"><h3>Crossword Creator</h3></a>
            </div>
        </div>
    </div>
{% endblock %}
