{% extends "common/base.html" %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='scrambledwords/index.css') }}">
{% endblock %}

{% block title %}
    <title>Scrambled Words</title>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="text-center">
            <h1>Scrambled Words</h1>
        </div>
        <div id="button_row" class="row h-75">
            <div id="new_game_column" class="col align-self-center text-center">
                <form action="{{ url_for('scrambled_words.create_game') }}" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="form-group btn-group">
                        <label for="scoring-type" class="form-label">Scoring: </label>
                        <select class="form-control" id="scoring-type" name="scoring-type">
                            <option>Classic</option>
                            <option>Distributed (Fractional)</option>
                            <option>Distributed (Integer)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Create Game</button>
                </form>
            </div>
            <div id="join_game_column" class="col align-self-center text-center">
                <form action="{{ url_for('scrambled_words.join_game') }}" enctype="application/x-www-form-urlencoded" method="post">
                    <div class="form-group">
                        <label for="game_name" class="form-label">Game Name: </label>
                        <input id="game_name" name="game_name" type="text" maxlength="5" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Join Game</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
